@import 'bootstrap/dist/css/bootstrap.css';



html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
}

/* Sign In */

.landing-container{
  height: 100vh;
  background-color: black;
}

.sign-in-button-div{
  display: flex;
  justify-content: center;
}

.sign-in-button{
  width: 12rem;
}

.scoped-image{
  padding-top: 5rem;
}

/* NAV */

.scoped-nav{
  font-size: 2em;
  padding: 0!important;
}
.nav-user-image{
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

.meta-fix{
  color: black!important;
}

.company-drop-items{
  display: flex!important;
}

.company-drop-items .text {
  font-weight: bold;
}


/* Job Detail */
.job-crew-column{
  display: flex!important;
  flex-direction: column;
  justify-content: center;
  
}
.job-crew-card{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.job-crew-card > * {
  margin: 0;
}


.job-equipment-div{
  max-height: 6rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.job-equipment-item{
  margin: .5rem;
}

.job-images-div{
  display: flex;
  flex-direction: wrap;
  justify-content: space-evenly;
}

.job-image{
  height: 180px!important;
  width: 240px!important;
  object-fit: cover;
}

/*Job Detail Image Modal */
.image-view-modal-description{
  display:flex!important;
  align-items: center;
}
.modal-images img{
  border-radius: 5%;
  max-height: 500px;
}
/*Modal Center */
.dimmed.dimmable > .ui.animating.dimmer, .dimmed.dimmable > .ui.visible.dimmer, .ui.active.dimmer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ui.modal,
.ui.active.modal {
  margin: 0 auto!important;
  top: auto !important;
  left: auto !important;
  transform-origin: center !important;
  transition: all ease .5s;
}

/* Job Form */

.job-form-buttons{
  justify-content: space-around;
}
.job-form-images{
  align-items: center
}
.edit-image-description{
  width: 100%;
}
.job-form-company{
  align-items: center;
}

/*Crew Modal*/
.crew-modal{
  height: auto;
}
.crew-modal-buttons{
  justify-content: space-around;
}

/* Blog */
.blog-title-header{
  display: flex;
  justify-content: space-between;
}
.blog-user-tag{
  display: flex;
}

/* Company Detail  */

.altLogo{
  display: block;
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  background-color: firebrick;
  text-align: center;
  font-size: 10rem;
}

/* logo modal */
.logo-modal-image{
  object-fit: cover;
  height: 20rem!important;
  width: 20rem!important;
}
