@import 'bootstrap/dist/css/bootstrap.css';



html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
}

/* NAV */

.scoped-nav{
  font-size: 2em;
  padding: 0!important;
}
.nav-user-image{
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

.meta-fix{
  color: black!important;
}

/* Job Detail */
.job-crew-column{
  display: flex!important;
  flex-direction: column;
  justify-content: center;
  
}
.job-crew-card{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.job-crew-card > * {
  margin: 0;
}


.job-equipment-div{
  max-height: 6rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.job-equipment-item{
  margin: .5rem;
}

.job-images-div{
  display: flex;
  flex-direction: wrap;
}

.job-image{
  height: 180px!important;
  width: 240px!important;
  object-fit: cover;
}
/*Modal Center */
.dimmed.dimmable > .ui.animating.dimmer, .dimmed.dimmable > .ui.visible.dimmer, .ui.active.dimmer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ui.modal,
.ui.active.modal {
  margin: 0 auto!important;
  top: auto !important;
  left: auto !important;
  transform-origin: center !important;
  transition: all ease .5s;
}

/* Job Form */

.job-form-buttons{
  justify-content: space-around;
}
.job-form-image{
  height: 200px;
  width: 200px;
  object-fit: cover;
}
.job-form-image-item{
  width: 40%!important;
}
.job-form-image-item-div{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
